body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.title {
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  margin: 0;
}

.title::after {
  content: '';
  display: block;
  margin: 30px auto;
  width: 60px;
  height: 6px;
  border-radius: 50px;
  background: #E8C300;
}

.subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.text {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.button {
  display: inline-block;
  height: 60px;
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: #E8C300;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-link:hover {
  background: #E8C300;
}

.timetable {
  font-size: 12px;
  line-height: 12px;
}

.arrow-down {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-down__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-down__circle:hover {
  background: #E8C300;
}

.frame {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header {
  background: url(/img/header-bg.png) top/cover no-repeat;
  text-align: center;
  /* min-height: 800px; */
  min-height: 100vh;
}

.header-nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  font-size: 96px;
  text-align: center;
}

.header__subtitle {
  text-align: center;
  margin-top: 226px;
}

.header__social {
  position: absolute;
  right: 0;
  top: 340px;
}

.header__timetable {
  position: absolute;
  left: -115px;
  top: 430px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__arrow {
  margin: 82px auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  list-style: none;
  padding-left: 0;
}

.nav-list__left {
  margin-right: 110px;
}

.nav-list__right {
  margin-left: 110px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover {
  color: #E8C300;
}

.mobile-nav {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-nav-list {
  list-style: none;
  padding: 70px 0;
}

.mobile-nav-item {
  margin: 20px 0;
}

.mobile-nav-link {
  font-size: 14px;
}

.mobile-nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.burger-nav {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 30px;
  height: 20px;
  z-index: 100;
}

.burger-nav span {
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger-nav::before, .burger-nav::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger-nav::before {
  top: 0;
}

.burger-nav::after {
  bottom: 0;
}

.burger-nav-item {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0;
}

.burger-nav-active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger-nav-active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger-nav-active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-height: 675px;
  position: relative;
}

.about-img {
  width: 90%;
}

.about__title {
  color: #000000;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.about__title::after {
  margin: 15px auto;
}

.about__text {
  max-width: 600px;
  color: #000000;
  text-align: center;
}

.about__frame {
  position: absolute;
  right: 0;
}

.chef {
  background: url(../img/specialtybg.png) top/cover no-repeat;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content__frame {
  position: absolute;
  left: 0;
}

.content__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.content__title::after {
  margin: 15px auto;
}

@media (max-width: 1070px) {
  .header {
    /* min-height: 1050px; */
  }
  .header__social {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__timetable {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .social-link {
    margin: 60px 10px;
  }
  .frame {
    width: 200px;
    height: 200px;
    border: 15px solid #E8C300;
  }
}

@media (max-width: 900px) {
  .burger-nav {
    display: block;
  }
  .header__subtitle {
    margin-top: 113px;
  }
  .logo {
    position: static;
    /* margin: 25px 0 0 0; */
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    margin: 25px auto;
  }
  .header-nav {
    display: none;
  }
  .frame {
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
  }
  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 400px;
    margin: 0 15px;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 400px;
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 70px;
  }
  .header__subtitle {
    margin-top: 70px;
  }
  .header__button {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 60px;
  }
}

@media (max-width: 484px) {
  .frame {
    width: 200px;
    height: 200px;
    border: 15px solid #E8C300;
  }
  .header__title {
    font-size: 50px;
  }
}

@media (max-width: 380px) {
  .logo {
    width: 100px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 10px;
    margin-top: 20px;
  }
  .header__button {
    margin-top: 20px;
  }
  .header__arrow {
    display: none;
  }
  .social-link {
    margin: 40px 10px;
  }
  .frame {
    width: 150px;
    height: 150px;
    border: 10px solid #E8C300;
  }
}
