body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

section {
  padding: 50px 0;
}

small {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.lock {
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  margin: 0;
}

.title-dark {
  color: #000000;
}

.title::after {
  content: '';
  display: block;
  margin: 30px auto;
  width: 60px;
  height: 6px;
  border-radius: 50px;
  background: #E8C300;
}

.subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.text {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.text strong {
  font-size: 18px;
}

.text-dark {
  color: #000000;
}

.button {
  display: inline-block;
  height: 60px;
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: #E8C300;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-link:hover {
  background: #E8C300;
}

.timetable {
  font-size: 12px;
  line-height: 12px;
}

.arrow-down {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-down__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-down__circle:hover {
  background: #E8C300;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header {
  background: url(../img/header-bg.png) top/cover no-repeat;
  text-align: center;
  padding-bottom: 83px;
}

.header-nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  font-size: 96px;
  text-align: center;
}

.header__subtitle {
  text-align: center;
  margin-top: 226px;
}

.header__social {
  position: absolute;
  right: 0;
  top: 340px;
}

.header__timetable {
  position: absolute;
  left: -115px;
  top: 430px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__arrow {
  margin: 83px auto 0 auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  list-style: none;
  padding-left: 0;
}

.nav-list__left {
  margin-right: 110px;
}

.nav-list__right {
  margin-left: 110px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover {
  color: #E8C300;
}

.mobile-nav {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-nav-list {
  list-style: none;
  padding: 70px 0;
}

.mobile-nav-item {
  margin: 20px 0;
}

.mobile-nav-link {
  font-size: 14px;
}

.mobile-nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.burger-nav {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 30px;
  height: 20px;
  z-index: 100;
}

.burger-nav span {
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger-nav::before, .burger-nav::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger-nav::before {
  top: 0;
}

.burger-nav::after {
  bottom: 0;
}

.burger-nav-item {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0;
}

.burger-nav-active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger-nav-active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger-nav-active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.chef {
  background: url(../img/specialtybg.png) top/cover no-repeat;
  padding-top: 0;
}

.table {
  padding-bottom: 0;
}

.table__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  height: 60px;
  background: #E8C300;
  border-radius: 5px;
  border: none;
  margin: 5px;
  color: #FFFFFF;
}

.specialties {
  background: url(../img/specialtys-bg.png) top/cover no-repeat;
  padding-top: 0;
  padding-bottom: 50px;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  height: 60px;
  border-radius: 5px;
  background-color: #E5E5E5;
  margin: 5px;
  padding: 0 20px;
  outline: none;
}

.input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.input::placeholder {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.input-wrap {
  position: relative;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  height: 60px;
  border-radius: 5px;
  margin: 5px;
}

.input-wrap::before, .input-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.input-wrap::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.input-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #E5E5E5;
  padding: 0 20px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.private {
  background: url(../img/private-bg.png) top/cover;
  padding: 0;
}

.private__dark {
  color: rgba(255, 255, 255, 0.5);
}

.photo {
  padding: 0;
}

.photo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo-image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 25%;
}

.contact-name, .contact-email, .contact-phone {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contact-message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 120px;
}

.contact-button {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.contact-position {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: url(../img/contact.png) center left no-repeat;
  height: 60px;
  margin: 5px;
}

.map {
  padding: 0;
}

.footer {
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__subtitle {
  text-align: center;
  padding: 44px 0 10px 0;
}

.content__timetable {
  text-align: center;
  padding: 10px 0 44px 0;
}

.content__timetable__dark {
  color: rgba(51, 51, 51, 0.5);
}

.content__text {
  max-width: 600px;
}

.content-img {
  width: 100%;
}

.content__left::before {
  left: -16%;
}

.content__right::before {
  right: -16%;
}

.content-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content-box__start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-box__end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content__title {
  font-size: 36px;
  line-height: 48px;
}

.content__title::after {
  margin: 15px auto;
}

.projects-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.projects-bullet-active {
  background-color: #FFFFFF;
}

.price-wrap {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  margin-bottom: 30px;
}

.price-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-item-title {
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
}

.price-item-text {
  min-width: 302px;
}

.price__title {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
}

.price__text {
  text-align: center;
  max-width: 565px;
  margin: 14px auto;
}

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 50px auto;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  max-width: 840px;
}

.tabs__caption li {
  cursor: pointer;
  padding: 20px 4%;
}

.tabs__caption li:not(:last-child) {
  border-right: 2px solid rgba(51, 51, 51, 0.2);
}

@media (max-width: 1070px) {
  .header__social {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__timetable {
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .social-link {
    margin: 60px 10px;
  }
  .price-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 900px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-left-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .content-box__end {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-box__start {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photo-image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 50%;
  }
  .burger-nav {
    display: block;
  }
  .header__subtitle {
    margin-top: 113px;
  }
  .logo {
    position: static;
    /* margin: 25px 0 0 0; */
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    margin: 25px auto;
  }
  .header-nav {
    display: none;
  }
  .input {
    -webkit-box-flex: 35%;
        -ms-flex: 35%;
            flex: 35%;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 70px;
  }
  .header__subtitle {
    margin-top: 70px;
  }
  .header__button {
    margin-top: 20px;
  }
  .price-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .photo-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .tabs__caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs__caption li {
    cursor: pointer;
    padding: 30% 10px;
  }
  .tabs__caption li:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid rgba(51, 51, 51, 0.2);
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 60px;
  }
  .input {
    -webkit-box-flex: 98%;
        -ms-flex: 98%;
            flex: 98%;
  }
  .table__button {
    -webkit-box-flex: 98%;
        -ms-flex: 98%;
            flex: 98%;
  }
}

@media (max-width: 484px) {
  .content__title {
    font-size: 30px;
    line-height: 42px;
  }
  .header__title {
    font-size: 50px;
  }
}

@media (max-width: 415px) {
  .logo {
    width: 100px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 10px;
    margin-top: 20px;
  }
  .header__button {
    margin-top: 20px;
  }
  .header__arrow {
    display: none;
  }
  .social-link {
    margin: 40px 10px;
  }
}
