body{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}
section{
  padding: 50px 0;
}
small{
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.lock{
  overflow: hidden;
}
.container{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
// elements ===================
.title{
  &-dark{
    color: #000000;
  }
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  margin: 0;
  &::after{
    content: '';
    display: block;
    margin: 30px auto;
    width: 60px;
    height: 6px;
    border-radius: 50px;
    background: #E8C300;
  }
}
.subtitle{
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.text{
  strong{
    font-size: 18px;
  }
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  &-dark{
    color: #000000;
  }
}
.button{
  display: inline-block;
  height: 60px;
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-top: 18px;
  box-sizing: border-box;
  margin: 0 20px;
  transition: 0.3s;
  &:hover{
    background: #E8C300;
  }
}
.social{
  &-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0;
    transition: 0.3s;
    &:hover{
      background: #E8C300;
    }
  }
}
.timetable{
  font-size: 12px;
  line-height: 12px;
}
.arrow-down{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  &__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    transition: 0.3s;
    &:hover{
      background: #E8C300;
    }
  }
}
// header ===================
.logo{
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.header{
  background: url(./img/header-bg.png) top / cover no-repeat;
  text-align: center;
  padding-bottom: 83px;
  &-nav{
    height: 100px;
    display: flex;
  }
  &__title{
    font-size: 96px;
    text-align: center;
  }
  &__subtitle{
    text-align: center;
    margin-top: 226px;
  }
  &__social{
    position: absolute;
    right: 0;
    top: 340px;
  }
  &__timetable{
    position: absolute;
    left: -115px;
    top: 430px;
    transform: rotate(-90deg);
  }
  &__arrow{
    margin: 83px auto 0 auto;
  }
}
// nav ===================
.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
  padding-left: 0;
  &__left{
    margin-right: 110px;
  }
  &__right{
    margin-left: 110px;
  }
}
.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
  &:hover{
    color: #E8C300;
  }
}
.mobile-nav{
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  transform: translateX(-100%);
  background-color: #000000;
  transition: 0.3s;
  &-list{
    list-style: none;
    padding: 70px 0;
  }
  &-item{
    margin: 20px 0;
  }
  &-link{
    font-size: 14px;
    
  }
}
.mobile-nav-active{
  transform: translateX(0%);
}
.burger-nav{
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 30px;
  height: 20px;
  z-index: 100;
  span{
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   &::before, &::after{
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    }
    &::before{
       top: 0;
    }
    &::after{
      bottom: 0;
    }
  &-item{
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 0;
  }
}
.burger-nav-active{
  span{
    transform: scale(0);
  }
  &:before{
    transform: rotate(45deg);
    top: 9px;
  }
  &:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
// chef ===================
.chef{
  background: url(../img/specialtybg.png) top / cover no-repeat;
  padding-top: 0;
}
// table ===================
.table{
  padding-bottom: 0;
 &__button{
   box-sizing: border-box;
   flex: 35%;
   height: 60px;
   background: #E8C300;
   border-radius: 5px;
   border: none;
   margin: 5px;
   color: #FFFFFF;
 }
}
// specialties =======
.specialties{
  background: url(../img/specialtys-bg.png) top / cover no-repeat;
  padding-top: 0;
  padding-bottom: 50px;
}
.contacts-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input{
  flex: 35%;
  box-sizing: border-box;
  border: none;
  height: 60px;
  border-radius: 5px;
  background-color: #E5E5E5;
  margin: 5px;
  padding: 0 20px;
  outline: none;
  &::placeholder{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.5);
  }
  &-wrap{
    position: relative;
    flex: 35%;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    &::before,
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      display: block;
      width: 10px;
      height: 2px;
      background-color: #333333;
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(3px, -50%) rotate(-45deg);
    }
  }
  &-select{
    appearance: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #E5E5E5;
    padding: 0 20px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.5);
    
  }
}
// private =============
.private{
  background: url(../img/private-bg.png) top / cover;
  padding: 0;
  &__dark{
    color: rgba(255, 255, 255, 0.5);
  }
}
//photo ====
.photo{
  padding: 0;
  &-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  &-image{
    flex-basis: 25%;
    width: 25%;
  }
}
//contact====
.contact{
  &-name,
  &-email,
  &-phone{
    flex-basis: 30%;
  }
  &-message{
    flex-basis: 100%;
    height: 120px;
  }
  &-button{
    flex-basis: 40%;
  }
  &-position{
    flex-basis: 50%;
    background: url(../img/contact.png) center left no-repeat;
    height: 60px;
    margin: 5px;
  }
}
// map ====
.map{
  padding: 0;
}

//footer ====
.footer{
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}
.copyright{
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
}


// Карточка с картинкой =====
.content{
  display: flex;
  &__subtitle{
    text-align: center;
    padding: 44px 0 10px 0;
  }
  &__timetable{
    text-align: center;
    padding: 10px 0 44px 0;
    &__dark{
      color: rgba(51, 51, 51, 0.5);
    }
  }
  &__text{
    max-width: 600px;
  }
  &-img{
      width: 100%;
    }
    &__left::before{
      left: -16%;
    }
    &__right::before{
      right: -16%;
    }
  &-box{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__start{
      align-items: flex-start;
    }
    &__end{
      align-items: flex-end;
    }
  }
  &__title{
    font-size: 36px;
    line-height: 48px;
    &::after{
      margin: 15px auto;
    }
  }
}
// slider-pagination ======
.projects{
  &-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-bullet{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    &-active{
      background-color: #FFFFFF;
    }
  }
}

// price====
.price{
  &-wrap{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &-active{
    display: flex;
  }
  &-item{
    flex-basis: 33.33%;
    margin-bottom: 30px;
  }
  &-item-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-item-title{
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
  }
  &-item-text{
    min-width: 302px;
  }
  &__title{
    text-align: center;
    font-size: 36px;
    line-height: 48px;
  }
  &__text{
    text-align: center;
    max-width: 565px;
    margin: 14px auto;
  }
}
.tabs{
  &__caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 50px auto;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    max-width: 840px;
    li{
      cursor: pointer;
      padding: 20px 4%;
      &:not(:last-child){
        border-right: 2px solid rgba(51, 51, 51, 0.2);
      }
    }
  }
}
// ===========================
@media(max-width: 1070px){
  .header{
    &__social{
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__timetable{
      position: static;
      transform: rotate(0deg);
    }
  }
  .social-link{
    margin: 60px 10px;
  }
  .price-item{
    flex-basis: 50%;
  }
}
@media(max-width: 900px){
  .content{
    flex-direction: column;
    &-left-img{
      flex-direction: column-reverse;
    }
    &-box{
      flex-basis: 100%;
    }
    &-box__end{
    align-items: center;
    }
    &-box__start{
    align-items: center;
    }
  }
 
  .photo-image{
    flex-basis: 50%;
    width: 50%;
  }

  .burger-nav{
    display: block;
  }
  .header{
    &__subtitle{
    margin-top: 113px;
    }
  }
  .logo{
    position: static;
    /* margin: 25px 0 0 0; */
    transform: translateX(0%);
    margin: 25px auto;
  }
  .header-nav{
    display: none;
  }
  .input{
    flex: 35%;
  }
}
@media(max-width: 768px){
  .header{
    &__title{
      font-size: 70px;
    }
    &__subtitle{
    margin-top: 70px;
    }
    &__button{
      margin-top: 20px;
    }
  }
  .price-item{
    flex-basis: 100%;
  }
  .photo-image{
    flex-basis: 100%;
    width: 100%;
  }
  .tabs{
    display: flex;
    justify-content: center;
    align-items: start;
    &__caption{
      flex-direction: column;
      li{
      cursor: pointer;
      padding: 30% 10px;
      &:not(:last-child){
        border-right: none;
        border-bottom: 2px solid rgba(51, 51, 51, 0.2);
      }
    }
    }
  }
}
@media(max-width: 600px){
  .header{
    &__title{
      font-size: 60px;
    }
  }
  .input{
    flex: 98%;
  }
  .table__button{
    flex: 98%;
  }
}
@media(max-width: 484px){
  .content{
    &__title{
      font-size: 30px;
      line-height: 42px;
    }
  }
  
  .header{
    &__title{
      font-size: 50px;
    }
  }
}
@media(max-width: 415px){
  .logo{
    width: 100px;
  }
  .header{
    &__title{
      font-size: 40px;
    }
    &__subtitle{
    font-size: 10px;
    margin-top: 20px;
    }
    &__button{
      margin-top: 20px;
    }
    &__arrow{
      display: none;
    }
  }
  .social-link{
    margin: 40px 10px;
  }
}