body{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  &-header{
    position: relative;
  }
}
// elements ===================
.title{
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  margin: 0;
  &::after{
    content: '';
    display: block;
    margin: 30px auto;
    width: 60px;
    height: 6px;
    border-radius: 50px;
    background: #E8C300;
  }
}
.subtitle{
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.text{
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}
.button{
  display: inline-block;
  height: 60px;
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 20px;
  transition: 0.3s;
  &:hover{
    background: #E8C300;
  }
}
.social{
  
  &-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0;
    transition: 0.3s;
    &:hover{
      background: #E8C300;
    }
  }
}
.timetable{
  font-size: 12px;
  line-height: 12px;
}
.arrow-down{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  &__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    transition: 0.3s;
    &:hover{
      background: #E8C300;
    }
  }
}
.frame{
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  border-radius: 5px;
}
// header ===================
.logo{
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.header{
  background: url(/img/header-bg.png) top / cover no-repeat;
  text-align: center;
  min-height: 800px;
  &-nav{
    height: 100px;
    display: flex;
  }
  &__title{
    font-size: 96px;
    text-align: center;
  }
  &__subtitle{
    text-align: center;
    margin-top: 226px;
  }
  &__social{
    position: absolute;
    right: 0;
    top: 340px;
  }
  &__timetable{
    position: absolute;
    left: -115px;
    top: 430px;
    transform: rotate(-90deg);
  }
  &__arrow{
    margin: 93px auto;
  }
}
// nav ===================
.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
  padding-left: 0;
  &__left{
    margin-right: 110px;
  }
  &__right{
    margin-left: 110px;
  }
}
.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
  &:hover{
    color: #E8C300;
  }
}
.about{
  &-block{
    display: flex;
  }
  &-item{
    width: 50%;
    min-height: 675px;
    position: relative;
  }
  &-img{
    margin: 100px auto;
    width: 90%;
  }
  &__title{
    color: #000000;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-top: 217px;
  }
  &__text{
    max-width: 600px;
    color: #000000;
    text-align: center;
    margin: auto;
  }
  &__frame{
    position: absolute;
  }
}


// ============================
@media(max-width: 1300px){
  .header{
    &__social{
      right: 30px;
    }
    &__timetable{
      left: -85px;
    }
  }
  .header-nav{
    margin: 0 30px;
  }
}
@media(max-width: 1070px){
  .header{
    min-height: 1050px;
    &__social{
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__timetable{
      position: static;
      transform: rotate(0deg);
    }
  }
  .social-link{
    margin: 40px 10px;
  }
}
@media(max-width: 768px){
  .header{
    min-height: 1050px;
    &__subtitle{
    margin-top: 113px;
    }
  }
  .logo{
    position: static;
    margin: 25px 0 0 0;
    transform: translateX(0%);
    height: 90px;
  }
  .header-nav{
    height: 60px;
  }
  .nav-list{
    margin: 0;
    &__left{
      margin-right: 4%;
    }
    &__right{
      margin-left: 4%;
    }
  }
  
  
}
@media(max-width: 640px){
  .header{
    min-height: 900px;
    &__arrow{
    display: none;
  }
  }
  .header-nav{
    flex-direction: column;
    align-items: center;
  }
  .nav-list{
    width: 100%;
    margin-bottom: 10px;
    &__left{
      margin-right: 0;
    }
    &__right{
      margin-left: 0;
    }
  }
}
@media(max-width: 484px){
  .header{
    &__title{
      font-size: 60px;
    }
    &__button{
      margin: 10px 0;
    }
  }
}